@{
    ViewData["Title"] = "Home Page";
}

@model List<MvcCoreWeb.Models.DbModels.Account>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @ViewBag.name - @ViewData["data"]
    <br />
    @*<p>编号：@Model.Id</p>
        <p>姓名：@Model.Name</p>*@
    @*<img src="~/images/dog.jpg" />*@

    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>账号</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                </tr>
            }
        </tbody>

    </table>

</div>
